@use '../variables';

.command-output {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  user-select: text;
  
  &__item {
    margin-bottom: 8px;
  }
  
  &__command {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    user-select: text;
  }
  
  &__prompt {
    color: var(--console-prompt);
    margin-right: 8px;
    user-select: none;
  }
  
  &__result {
    /*white-space: pre-wrap;*/
    user-select: text;
    
    &--error {
      color: var(--console-error);
    }
  }
  
  &__line {
    line-height: 1.4;
    user-select: text;
  }
}