@use '../variables';

.console {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--console-bg);
  color: var(--console-text);
  font-family: var(--monospace);
  overflow: auto;
  box-sizing: border-box;
  cursor: text;

  &__header {
    padding: 8px;
    background-color: var(--console-header-bg);
    border-bottom: 1px solid var(--console-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    font-family: var(--monospace);
    white-space: pre-wrap;
  }
}